<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTTGS.Properties.Settings.QuanLyTTGiaSuConnectionString"
            connectionString="Data Source=DESKTOP-2CR5M8D;Initial Catalog=QuanLyTTGiaSu;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>